<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace要与对应接口的全限定名保持一致 -->
<mapper namespace="mybatis.mapper.TransMapper">

  <insert id="insertTrans" parameterType="mybatis.domain.Trans">
    INSERT INTO `trans`(`trans_id`, `body`, `subject`, `amount`, `create_time`)
    VALUES (#{trans_id}, #{body}, #{subject}, #{amount}, #{create_time})
  </insert>

  <update id="updateTrans" parameterType="mybatis.domain.Trans">
    UPDATE `trans`
    SET `body`=#{body},
        `subject`=#{subject},
        `amount`=#{amount}
    WHERE `trans_id` = #{trans_id}
  </update>

  <delete id="deleteTransById" parameterType="java.lang.Long">
    DELETE
    FROM `trans`
    WHERE `id` = #{id}
  </delete>

  <select id="selectOne" parameterType="java.lang.String" resultType="mybatis.domain.Trans">
    SELECT *
    FROM `trans`
    WHERE `trans_id` = #{trans_id}
  </select>

  <select id="selectMutiple" parameterType="java.lang.String" resultType="mybatis.domain.Trans">
    select * from `trans` where `body` like
  </select>
</mapper>